@layout('main')
@section('content')
<h1>{{ task.title }}</h1>
<p class="lead">{{ task.description }}</p>
<hr class="my-4" />
<a href="/" class="btn btn-primary btn-lg">Go Back</a>
<a href="/remove/{{task.id}}" class="btn btn-danger btn-lg">Delete</a>
@endsection